{#- Template for the footer. -#}
{% if footer.model == 'vertical' %}
<footer 
    class="{{theme.is.dark}} {{theme.dark.display.flex}} footer" style="height: {{footer.style.div.height}}; background-color: {{footer.style.div.background.dark}}; border-top: {{footer.style.div.border.top.dark}}; border-bottom: {{footer.style.div.border.bottom.dark}}; align-items: {{footer.style.div.align.vertical}};">
    <div style="text-align: {{footer.style.div.align.horizontal}}; margin: {{footer.style.div.margin}}; width: 100%; display: inline;">
    {%- for file in footer_files %}
        <div>
            <span style="font-family: {{footer.style.entry.font.family}}; font-size: {{footer.style.entry.font.size}}; font-weight: {{footer.style.entry.font.weight}}; text-decoration: {{footer.style.entry.font.decoration}}; color: {{footer.style.entry.font.color.dark}}; background: {{footer.style.entry.font.background.dark}}; margin: {{footer.style.entry.margin}};">{{ file }}</span>
        </div>
    {%- endfor %}
    </div>
</footer>
{% endif %}
{% if footer.model == 'horizontal' %}
<footer
    class="{{theme.is.dark}} {{theme.dark.display.flex}} footer" style="height: {{footer.style.div.height}}; background-color: {{footer.style.div.background.dark}}; border-top: {{footer.style.div.border.top.dark}}; border-bottom: {{footer.style.div.border.bottom.dark}}; align-items: {{footer.style.div.align.horizontal}};">
    <div style="text-align: {{footer.style.div.align.horizontal}}; margin-left: auto; margin-right: auto; display: flex;">
    {%- for file,details in footer_files.items() %}
        {%- set separator = footer.style.entry.separator.dark if not loop.first else "" -%}
        <div style="border-left: {{ separator }};">
            <span style="font-family: {{footer.style.entry.font.family}}; font-size: {{footer.style.entry.font.size}}; font-weight: {{footer.style.entry.font.weight}}; text-decoration: {{footer.style.entry.font.decoration}}; color: {{footer.style.entry.font.color.dark}}; background: {{footer.style.entry.font.background.dark}}; margin: {{footer.style.entry.margin}};"><a href="{{ details['path']['url'].replace('content/', '')}}">{{ file }}</a></span>
        </div>
    {%- endfor %}
    </div>
</footer>
{% endif %}
